<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api20250612165508.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/57d32844-6fa6-43a2-b790-fd711e2c5a13/resourcegroups/rg-aueast-palletdemo-001/providers/Microsoft.Web/sites/api20250612165508</ResourceId>
    <IsLinux>true</IsLinux>
    <UseBlobContainerDeploy>true</UseBlobContainerDeploy>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <PublishUrl>https://api20250612165508.scm.azurewebsites.net/</PublishUrl>
    <UserName>$api20250612165508</UserName>
  </PropertyGroup>
</Project>