<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://pallet-detector-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4a43f43d-5df7-4d3a-a36d-e326bba9ebb5/resourcegroups/rg-aueast-wooliesdemo-002/providers/Microsoft.Web/sites/pallet-detector-api</ResourceId>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://pallet-detector-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>rism@microsoft.com</UserName>
  </PropertyGroup>
</Project>